#**************************************************************************************************
# File:         /.clang-format
# Description:  Style/formatting rules for auto-formatting via clangd
#**************************************************************************************************

# command: 
#       clang-format --verbose --style=file -i src/main.c src/**/*.h src/**/*.c

---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Never
ColumnLimit: 100

AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 100
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: False
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true

BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true

Cpp11BracedListStyle: false

DerivePointerAlignment: false

IndentCaseLabels: true
InsertNewlineAtEOF: true

KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1

PointerAlignment: Middle

QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'volatile', 'const', 'type']

ReferenceAlignment: Right
RemoveSemicolon: true

SeparateDefinitionBlocks: Always
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 15
SpaceInEmptyBlock: false
SpacesInCStyleCastParentheses: false
---
