#**************************************************************************************************
# File:         /.clang-format
# Description:  Style/formatting rules for auto-formatting via clangd
#**************************************************************************************************

---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Never
ColumnLimit: 100

AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: False
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 100

BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true

Cpp11BracedListStyle: false

DerivePointerAlignment: false

IndentCaseLabels: true
InsertNewlineAtEOF: true

MaxEmptyLinesToKeep: 1

PointerAlignment: Middle

SpaceAfterCStyleCast: true
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 15
SpacesInCStyleCastParentheses: false
SeparateDefinitionBlocks: Always
SortIncludes: Never
---
