###############################################################################
# File:         /.gitignore
# Description:  Excludes certain files from Git
###############################################################################

# Cppcheck
/tools/cppcheck/*
!/tools/cppcheck/suppressions.txt

# ECG dataset
/tools/data/csv/*.csv
!/tools/data/csv/101.csv
/tools/data/mit-bih-arr/*
!/tools/data/mit-bih-arr/101*

# Signal Generator
/tools/JDS6600/*
!/tools/JDS6600/*.py
!/tools/JDS6600/ecg*

# Misc.
**/*pycache*
**/.DS_Store
/.cache
/.vscode
/build
/docs/doxygen/refman.log
/ecg_hrm.code-workspace
/scratch
