###############################################################################
# File:         /.gitattributes
# Description:  Configuration file for Git
###############################################################################

# Jupyter Notebooks are NOT 70% of the repo, but will show up as such without this
*.ipynb -linguist-detectable
